

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 100px;
    width: 100vw;
    margin: -8px;
    background-color: rgb(43, 43, 43);
    color: rgb(255, 229, 195);
}  
.logo {
    font-family: Comfortaa, sans;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    flex: 1;
}
.menu-div {
    display: flex;
    justify-content: space-around;
    font-family: sans;
    flex: 1;
    padding: 10px 20px;
}
.menu-item {
    font-size: 20px;
}
.menu-item:hover {
    color: white;
    text-shadow: 0 0 3px;
}
.box {
    border: 1px solid red;
}
.intro {
    display:flex;
    flex-flow: row;
    justify-content:space-evenly;
    align-items: center;
    width:100%;
    margin-left: -8px;
    padding-right: 55px;
    padding-top: 100px;
    background-color: rgb(43, 43, 43);
    height: 500px;
}
.intro-sub {
    flex:1;
    max-width: 500px;
}
.text {
    text-align: center;
    font-family: sans;
    color: rgb(255, 229, 195);
    padding: 10px;
}
.showcase {
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: 350px;
}
.show-title {
    color:rgb(100, 87, 71);
    font-family: sans;
    text-align: center;
    margin-top: 20px;
    border: 1px solid transparent;
}
.show-element {
    max-width: 220px;
    text-align: justify;
    font-family: sans;
    margin: 20px;
}
.image {
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    margin-left: 10px;
}
.quote-div {
    height: 300px;
    width: 100vw;
    background-color: rgb(223, 215, 206);
    margin-left: -8px;
    padding-right: 24px;
    text-align: center;
    font-family: sans;
    font-size: 20px;
}
.quote {
    padding: 80px 70px 0 70px;
}